name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        ocaml-version: ["5.1.1", "4.14.1"]
    steps:
      - uses: actions/checkout@v3
      - name: OCaml/Opam cache
        id: ocaml-interop-opam-cache
        uses: actions/cache@v2
        with:
          path: "~/.opam"
          key: ${{ matrix.os }}-${{ matrix.ocaml-version }}
      - name: Setup OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
      - name: Set Opam env
        run: opam env | tr '\n' ' ' >> $GITHUB_ENV
      - name: Add Opam switch to PATH
        run: opam var bin >> $GITHUB_PATH
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - name: Setttings for cargo in OSX
        if: runner.os == 'macOS'
        run: |
            echo '[build]' >> ~/.cargo/config
            echo 'rustflags = ["-C", "link-args=-Wl,-undefined,dynamic_lookup"]' >> ~/.cargo/config
      - name: build
        uses: actions-rs/cargo@v1
        with:
          command: build
      - name: test
        uses: actions-rs/cargo@v1
        with:
          command: test
      - run: opam install dune alcotest base
      - name: Rust caller test
        run: cd testing/rust-caller; cargo test
      - name: Build OCaml caller
        run: cd testing/ocaml-caller; opam exec -- dune build -j 1
      - name: OCaml caller test
        run: cd testing/ocaml-caller; opam exec -- dune test
